html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title= title
  body
    .container
      .row
        .col-md-2
          img(src="monitor.jpg" height=100)
        .col-md-4
          h1 Monitor Bot
      hr
      .row
        .col-md-2
          a(href="/config")
            | Configuration
        .col-md-2
          a(href=config.log_url)
            | Logs
        .col-md-2
          a(href="https://github.com/howethomas/monitor")
            | Repo
      hr
      .row
        .col-md-8
          h2 Summary
          p
            | This automation monitors and stores incoming messages.
            | You can view the last 10 messages below or download a csv of all the messages.
          h2 Setup
          ol
            li Install this automation on a web server, or use an existing installation (ex: https://monitor.tendigittext.com)
            li Add this automation URL as an observer in the 
              a(href="https://qa.digits.holdings/settings/team/#Automations")
                | team settings 
              | section in the VHT Messaging Portal
      hr
      .row
        .col-md-12
          h2 Last 10 Responses      
            p.float-right      
              a.btn.btn-primary(href='/download.csv') Download CSV
            table.table
              thead.thead-dark
                tr
                  th Created At
                  th Source
                  th Destination
                  th Text
              tbody
                for response in responses
                  tr
                    td= response.createdAt
                    td= response.src
                    td= response.dst
                    td= response.txt                      

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')